.tools{
	position:fixed;
	top:35%;
	left:0;
	display:block;
	z-index:100;
}
.feedback{
	position:fixed;
	top:35%;
	left:90%;
	display:block;
	z-index:100;
	background: url(../img/feedback.png) 0 0;
	width:73px;
	height:72px;
}
#request{
	height: 350px;
}
.feedback:hover{
	background: url(../img/feedback.png) 0 -73px;
}
.feedback:active{
	background-color: #788df5;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(58,58,230,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(58,58,230,1);
	box-shadow: 0px 0px 5px 0px rgba(58,58,230,1);
}
.tools__hidden{
	display:none;
	/* width: 200px; */
	/* height: 220px; */
	background-color: #d7ddf2;
	/* box-sizing: border-box; */
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

div.tools__visible{
	display:block;
	background: url(../img/click_me.png) -20px 0;
	/* background-position:-18px;
	background-color: transparent; */
	width:81px;
	height:136px;
	float:left;
	
}
div.tools__visible:hover{
	background: url(../img/click_me.png) -19px -136px;
}
div.tools__visible:active{
	background-color: #788df5;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(58,58,230,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(58,58,230,1);
	box-shadow: 0px 0px 5px 0px rgba(58,58,230,1);
}
.newTools h2{
	font-size: 12px;
	font-weight: bold;
}
#restoreDefaultTable{
	z-index: 1000;
	float:right;
}
.displayDataView{
	width: auto;
	margin: 0 auto;
	background-color: #FFDAB9;
	position:relative;
	top:-15%;
	z-index: 1000;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	margin-bottom: 50px;

}
.tableDisplayResult{
	max-width:1600px;
	margin:0 auto;
}
.visualization{
	width:800px;
	margin: 0 auto;
	background-color: transparent;
}

.closeSpan{

	float:right;

	/* color:#000000; */

	width:26px;
	height:25px;
	background-color: transparent;
	background: url(../img/close_icon.png) 0 -27px;
}
.closeSpan:hover{
	/* text-shadow: 1px 1px 5px rgba(255, 172, 122, 1);
	color:blue; */
	background: url(../img/close_icon.png) 0 0;
}
.myToolButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:2px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
	max-width: 300px;
	text-align: center;
}
.toolsListLabel h2{
	color:#ffffff;
	font-size: 14px;
	text-shadow: 1px 1px 4px rgba(93, 0, 255, 0.7);
}
.myToolButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #88aec9), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #88aec9 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #88aec9 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #88aec9 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #88aec9 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #88aec9 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#88aec9', endColorstr='#007dc1',GradientType=0);
	background-color:#88aec9;
	color:#021870;
	text-shadow: 1px 1px 4px rgba(93, 0, 255, 0.7);
}
.myToolButton:active {
	position:relative;
	top:1px;
}
.drawnCCcables, .drawnAIRcables{
	position:absolute;
	top:40px;
	left:40px;
	z-index: 5;
	width: 90%;
}

.drawnCCcables table, .drawnAIRcables table{
	font-size: 12px;
	background-color: #F0FFFF;
}
/* ---------------newTools------------------------------------------------------- */
.newTools{
	width:600px;
}
.toolsListLabel {
	float:left;
	margin: 2px;
	background-color: #F0F8FF;
	border-top: 1px solid #2F4F4F;
	border-left: 1px solid #2F4F4F;
	border-right: 1px solid #2F4F4F;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 1px;
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
}
.toolsListLabel:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #88aec9), color-stop(1, #badef2));
	background:-moz-linear-gradient(top, #88aec9 5%, #badef2 100%);
	background:-webkit-linear-gradient(top, #88aec9 5%, #badef2 100%);
	background:-o-linear-gradient(top, #88aec9 5%, #badef2 100%);
	background:-ms-linear-gradient(top, #88aec9 5%, #badef2 100%);
	background:linear-gradient(to bottom, #88aec9 5%, #badef2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#88aec9', endColorstr='#007dc1',GradientType=0);
	background-color:#badef2;
	
	text-shadow: 1px 1px 4px rgba(93, 0, 255, 0.7);

}
.toolsListLabel:hover h2{
	color:#5d506b;
}
.toolsListLabel:active {
	position:relative;
	top:1px;
}

.invisible{
	display:none;
}

.visible{
	display:block;
}
._holder{
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.curtenScripStatus{
	display:none;
	opacity:0.5;
	background-color:#ccc;
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:999999;
}

.curtenScripStatus svg{
	position:relative;
	display: block;
	top:45%;
    	margin-left: auto;
    	margin-right: auto;
}
._holder form{
	width:500px;
	margin: 0 auto;
}
/* --------------------table-------------------------------------- */
td, th{
	margin:0;
	padding:0;
	min-width:30px;
}
td input{
	min-width:30px;
	max-width: 80px;
}
tr:nth-child(even){background:#e5ecf9;}
tr:nth-child(odd){background:#cceeff;}

td.filePresent{
	background-color: #ebffcc;
	text-align: center;
}

td.fileAbsend{
	background-color: #ffe6e6;
	text-align: center;
}
td.fileNotDefinedState{
	background-color: ##f2ccff;
	text-align: center;
}
td.filePresent:hover, td.fileAbsend:hover, td.fileNotDefinedState:hover{
	font-weight: bold;
	-webkit-box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,0.5);
}
tr:hover{
	font-weight: bold;
	-webkit-box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,0.5);
}
.wiringImgOuter{
	display:block;
	opacity:1.0;
	background-color:#ccc;
	position:fixed;
	height: 100%;

	width: 100%;
	top:0;
	left:0;
	z-index:1001;
}

.wiringImg{

    margin: 0 auto;
    overflow-y: scroll;
    
    max-width: 1300px;
    max-height: 100%;
}
.wiringImg img{
	width: 70%;
}
.wiringImgOuter span{
	display: block;
	   margin-right: 20px;
    /* left: 70%; */
    top: 5%;
}
/* -------------back-to-top ---------------------- */
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 42px;
    height: 48px;
    text-align: center;
    line-height: 37px;
    background: #e3cad4;
    color: #322b94;
    font-size: 40px;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #b3a920;
    line-height: 38px;
    font-size: 42px;
}
#back-to-top.show {
    opacity: 1;
}
#showFileDate {
    position: fixed;
    bottom: 40px;
    right: 80px;
    z-index: 9999;
    width: 42px;
    height: 48px;
    text-align: center;
    line-height: 37px;
    background: #d1dfea;
    color: #511177;
    font-size: 40px;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#showFileDate:hover {
    background: #da6cf5;
    line-height: 38px;
    font-size: 42px;
}
#showFileDate.show {
    opacity: 1;
}
.fixedCloseSpan{
	position: fixed;
	z-index: 9999;
	transition: opacity 0.2s ease-out;
    bottom: 40px;
    right: 15px;
}
.helper{
	position: fixed;
	z-index: 9999;
	transition: opacity 0.2s ease-out;
    top: 10px;
    left: 10px;
}
.helper img{
	width: 50px;
}
.helper:hover{
	background: #da6cf5;
	border-radius: 60%;
}
.helper :active {
	bottom:-1px;
}